* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 5000px;
} */

/* =============== Header Section =============== */

header {
    height: 90vh;
    background: linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)), url(../Images/events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: helvetica, Arial, sans-serif;
}

header h1 {
    font-size: 4rem;
}

.container-of-sideMenu {
    position: fixed;
    left: -250px;
    top: 0;
    align-items: center;
}

.hamburger-menu-position:hover {
    cursor: pointer;
}

.hamburger-menu-position {
    color: rgb(46, 8, 8);
}

.hamburger-menu {
    width: 22px;
    height: 3px;
    background-color: rgb(46, 8, 8);
    position: relative;
}

.hamburger-menu::before {
    content: "";
    width: 22px;
    height: 3px;
    background-color: rgb(46, 8, 8);
    position: absolute;
    bottom: 310%;
    left: 0;
}

.hamburger-menu::after {
    content: "";
    width: 22px;
    height: 3px;
    background-color: rgb(46, 8, 8);
    position: absolute;
    bottom: 630%;
    left: 0;
}

.open {
    font-size: 1.5rem;
    font-family: helvetica, Arial, sans-serif;
    padding-left: 7px;
}

/* =============== Side Menu =============== */
#side-menu {
    height: 100vh;
    width: 250px;
    background-color: #414658;
}

#side-menu ul {
    line-height: 2.5;
    font-size: 25px;
    padding-top: 0 !important;
    padding-left: 4rem;
}

#side-menu ul li a {
    transition: all 0.3s;
    text-decoration: none;
    color: #fff;
}

#side-menu ul li a:hover, 
#side-menu i:hover {
    cursor: pointer;
    color: rgba(214, 46, 51 , 0.4);
}

#side-menu i {
    font-size: 20px;
    transition: all 0.3s;
}

#side-menu .times-sign-wrapper {
    padding-left: 170px;   
    padding-top: 60px;
}

/* ================================================================================== */
/* ================ Accordion ================ */
#accordion div {
    background-color: maroon;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#accordion p:first-of-type {
    display: block;
}

#accordion p {
    width: 50%;
    margin: auto;
    border: 1px solid maroon;
    display: none;
}
/* ================================================================================== */
/* ================ Join Us ================ */
#join-us {
    background: linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)), url(../Images/join-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#join-us .day, .hours, .minutes, .seconds {
    border: 1px solid #fff;
    padding: 15px;
}

/* ================================================================================== */
/* ================ Contact Section ================ */
#contact ul li {
    line-height: 3;
}

#contact .social-icons div {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
    color: rgb(153, 153, 153);
    transition: all 0.1s;
}

#contact .social-icons div:hover {
    background-color: rgb(214, 46, 51);
    color: #fff;
}


/* *================ Media Query ================ */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    #accordion div,
    #accordion p {
        width: 75%;
        margin: auto;
    }
}

